flows.json
[
    {
        "id": "84adaa76985fb8a4",
        "type": "tab",
        "label": "Unity Pro PLC Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "50315336be2301af",
        "type": "modbus-read",
        "z": "84adaa76985fb8a4",
        "name": "Read DI M18",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "18",
        "quantity": "8",
        "rate": "2",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "b67df828b3996869",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 130,
        "y": 180,
        "wires": [
            [
                "ac44272e486dce97",
                "6ec8814232db4a69"
            ],
            []
        ]
    },
    {
        "id": "bfd413656830e70f",
        "type": "debug",
        "z": "84adaa76985fb8a4",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 220,
        "wires": []
    },
    {
        "id": "b38e3c2d7c03a82b",
        "type": "debug",
        "z": "84adaa76985fb8a4",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 180,
        "wires": []
    },
    {
        "id": "ac44272e486dce97",
        "type": "debug",
        "z": "84adaa76985fb8a4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 120,
        "wires": []
    },
    {
        "id": "6ec8814232db4a69",
        "type": "buffer-parser",
        "z": "84adaa76985fb8a4",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "buffer",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 310,
        "y": 220,
        "wires": [
            [
                "b38e3c2d7c03a82b",
                "04a005d9f939599f"
            ]
        ]
    },
    {
        "id": "04a005d9f939599f",
        "type": "buffer-parser",
        "z": "84adaa76985fb8a4",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "binary",
                "name": "alphabet",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "swap16",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "result",
        "msgPropertyType": "",
        "resultType": "keyvalue",
        "resultTypeType": "output",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 490,
        "y": 260,
        "wires": [
            [
                "bfd413656830e70f",
                "6f005c53282ebd1e"
            ]
        ]
    },
    {
        "id": "c2040e0a940a7d10",
        "type": "debug",
        "z": "84adaa76985fb8a4",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 300,
        "wires": []
    },
    {
        "id": "6f005c53282ebd1e",
        "type": "function",
        "z": "84adaa76985fb8a4",
        "name": "DI State",
        "func": "var buf = msg.payload;\nvar fbit = buf[0]//(buf[1] >> 7) & 1;\nmsg.payload = fbit;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 300,
        "wires": [
            [
                "c2040e0a940a7d10"
            ]
        ]
    },
    {
        "id": "833fc0ebe796e2f3",
        "type": "modbus-read",
        "z": "84adaa76985fb8a4",
        "name": "Read AI MW16",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "16",
        "quantity": "2",
        "rate": "3",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "b67df828b3996869",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 160,
        "y": 1080,
        "wires": [
            [
                "4950b0d3d26a8805",
                "c532c7504ed963c2"
            ],
            []
        ]
    },
    {
        "id": "0ce72c1c322fab5a",
        "type": "debug",
        "z": "84adaa76985fb8a4",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 1060,
        "wires": []
    },
    {
        "id": "b70bb4b45cde4d1f",
        "type": "debug",
        "z": "84adaa76985fb8a4",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 380,
        "wires": []
    },
    {
        "id": "1b0b21352e5f97b8",
        "type": "modbus-write",
        "z": "84adaa76985fb8a4",
        "name": "Set to DO",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "44",
        "quantity": "1",
        "server": "b67df828b3996869",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 640,
        "y": 460,
        "wires": [
            [],
            [
                "7fee7cfde97cf0ae"
            ]
        ]
    },
    {
        "id": "c6d47d263738e7ad",
        "type": "trigger",
        "z": "84adaa76985fb8a4",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "5",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 260,
        "y": 420,
        "wires": [
            [
                "b70bb4b45cde4d1f",
                "6260df51603e73be"
            ]
        ]
    },
    {
        "id": "54213c429df07bfb",
        "type": "inject",
        "z": "84adaa76985fb8a4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 130,
        "y": 420,
        "wires": [
            [
                "c6d47d263738e7ad"
            ]
        ]
    },
    {
        "id": "7fee7cfde97cf0ae",
        "type": "debug",
        "z": "84adaa76985fb8a4",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 480,
        "wires": []
    },
    {
        "id": "6260df51603e73be",
        "type": "change",
        "z": "84adaa76985fb8a4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 460,
        "wires": [
            [
                "1b0b21352e5f97b8"
            ]
        ]
    },
    {
        "id": "19699ded6a105e30",
        "type": "modbus-write",
        "z": "84adaa76985fb8a4",
        "name": "Write AO MW18",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "MHoldingRegisters",
        "adr": "18",
        "quantity": "2",
        "server": "b67df828b3996869",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 740,
        "y": 600,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "600be580c92206f1",
        "type": "ui_gauge",
        "z": "84adaa76985fb8a4",
        "name": "",
        "group": "59ff5a9691887fe6",
        "order": 0,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Pressure",
        "label": "mbar",
        "format": "{{value}}",
        "min": 0,
        "max": "120",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 740,
        "y": 1140,
        "wires": []
    },
    {
        "id": "b62263bce56258ed",
        "type": "ui_slider",
        "z": "84adaa76985fb8a4",
        "name": "",
        "label": "Bar Set Point",
        "tooltip": "",
        "group": "59ff5a9691887fe6",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 470,
        "y": 740,
        "wires": [
            [
                "19699ded6a105e30",
                "d923b5fadf62a212"
            ]
        ]
    },
    {
        "id": "5d8c746d0a185092",
        "type": "ui_numeric",
        "z": "84adaa76985fb8a4",
        "name": "",
        "label": "Numerical SP",
        "tooltip": "",
        "group": "59ff5a9691887fe6",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 460,
        "y": 680,
        "wires": [
            [
                "19699ded6a105e30"
            ]
        ]
    },
    {
        "id": "d923b5fadf62a212",
        "type": "ui_chart",
        "z": "84adaa76985fb8a4",
        "name": "",
        "group": "59ff5a9691887fe6",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Pressure SP",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Pressure SP GRAPH",
        "dot": false,
        "ymin": "0",
        "ymax": "120",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 730,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "f9e6fd35e8b1946f",
        "type": "modbus-read",
        "z": "84adaa76985fb8a4",
        "name": "Read AI MW12",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "12",
        "quantity": "1",
        "rate": "2",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "b67df828b3996869",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 160,
        "y": 900,
        "wires": [
            [
                "b5f812ba8a773ab4"
            ],
            []
        ]
    },
    {
        "id": "b5f812ba8a773ab4",
        "type": "function",
        "z": "84adaa76985fb8a4",
        "name": "Buffer to int",
        "func": "var buf = msg.payload;\nvar fbit = buf[0]//(buf[1] >> 7) & 1;\nmsg.payload = fbit;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 880,
        "wires": [
            [
                "0aa16098f0721fbe"
            ]
        ]
    },
    {
        "id": "0424e22d1a7701c6",
        "type": "debug",
        "z": "84adaa76985fb8a4",
        "name": "debug 10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 880,
        "wires": []
    },
    {
        "id": "0aa16098f0721fbe",
        "type": "change",
        "z": "84adaa76985fb8a4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 880,
        "wires": [
            [
                "0424e22d1a7701c6"
            ]
        ]
    },
    {
        "id": "4950b0d3d26a8805",
        "type": "function",
        "z": "84adaa76985fb8a4",
        "name": "Buffer 16 Bit",
        "func": "var msg0 =\n{\n    payload : (msg.payload[1]<<16) + msg.payload[0]\n}\nreturn msg0;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1100,
        "wires": [
            [
                "1194a53ef96065f5"
            ]
        ]
    },
    {
        "id": "1194a53ef96065f5",
        "type": "toFloat",
        "z": "84adaa76985fb8a4",
        "name": "",
        "toFixed": "6",
        "x": 570,
        "y": 1100,
        "wires": [
            [
                "600be580c92206f1",
                "0ce72c1c322fab5a"
            ]
        ]
    },
    {
        "id": "c532c7504ed963c2",
        "type": "debug",
        "z": "84adaa76985fb8a4",
        "name": "debug 22",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 1040,
        "wires": []
    },
    {
        "id": "656620ba0ab6a5d1",
        "type": "comment",
        "z": "84adaa76985fb8a4",
        "name": "Read Write data over Modbus TCP/IP to-from a Modicon TSX P57 PLC simulated on Unity Pro",
        "info": "",
        "x": 380,
        "y": 40,
        "wires": []
    },
    {
        "id": "8463c45f2744421f",
        "type": "comment",
        "z": "84adaa76985fb8a4",
        "name": "Read 1 Bit",
        "info": "",
        "x": 100,
        "y": 120,
        "wires": []
    },
    {
        "id": "3d20cb44bd5d2d1d",
        "type": "comment",
        "z": "84adaa76985fb8a4",
        "name": "Write 1 Bit",
        "info": "",
        "x": 100,
        "y": 340,
        "wires": []
    },
    {
        "id": "eae0d7c7245759c3",
        "type": "comment",
        "z": "84adaa76985fb8a4",
        "name": "Write to Holding register",
        "info": "",
        "x": 140,
        "y": 540,
        "wires": []
    },
    {
        "id": "26fe512a9bf7d862",
        "type": "comment",
        "z": "84adaa76985fb8a4",
        "name": "Read Int value from Holding register",
        "info": "",
        "x": 180,
        "y": 800,
        "wires": []
    },
    {
        "id": "748943c8d2bc85b2",
        "type": "comment",
        "z": "84adaa76985fb8a4",
        "name": "Read float value",
        "info": "",
        "x": 120,
        "y": 1000,
        "wires": []
    },
    {
        "id": "7ad3135f7f448845",
        "type": "function",
        "z": "84adaa76985fb8a4",
        "name": "function 19",
        "func": "var p = msg.payload;\nvar b = Buffer.alloc(4);\nvar d = [];//= Buffer.alloc(2);\nb.writeFloatLE(p);\n\nvar msg0 = (b[1] << 8) + b[0]\n\nvar msg1 = (b[3] << 8) + b[2]\n/*d[0] =\n{\n    payload: (msg0[0]) //+ msg1[0]\n}*/\n\n//d[1] = msg1;\nd = [msg0, msg1]\nmsg.payload =d;\nreturn msg;\n\n//msg.payload = b;\n//return msg;\n\n/*const buuf = msg.payload;\nconst val = buuf.readFloatBE();\nmsg.payload = val;\nreturn msg;*/",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 600,
        "wires": [
            [
                "19699ded6a105e30"
            ]
        ]
    },
    {
        "id": "8215101a1d5ae366",
        "type": "inject",
        "z": "84adaa76985fb8a4",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "-54.62",
        "payloadType": "num",
        "x": 190,
        "y": 600,
        "wires": [
            [
                "7ad3135f7f448845"
            ]
        ]
    },
    {
        "id": "accfa55e295b79e0",
        "type": "debug",
        "z": "84adaa76985fb8a4",
        "name": "debug 24",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 1320,
        "wires": []
    },
    {
        "id": "8eb011a085b357a9",
        "type": "inject",
        "z": "84adaa76985fb8a4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 1240,
        "wires": [
            [
                "e8dc3b27381e84a7"
            ]
        ]
    },
    {
        "id": "e8dc3b27381e84a7",
        "type": "mqtt out",
        "z": "84adaa76985fb8a4",
        "name": "",
        "topic": "top/K",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0ef5302f8b9bf1d7",
        "x": 390,
        "y": 1240,
        "wires": []
    },
    {
        "id": "c4b2d72f16a1883d",
        "type": "mqtt in",
        "z": "84adaa76985fb8a4",
        "name": "",
        "topic": "top/K",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "0ef5302f8b9bf1d7",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 1320,
        "wires": [
            [
                "accfa55e295b79e0"
            ]
        ]
    },
    {
        "id": "e32605a6f2ea59e3",
        "type": "aedes broker",
        "z": "84adaa76985fb8a4",
        "name": "",
        "mqtt_port": 1883,
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "persistence_bind": "memory",
        "dburl": "",
        "usetls": false,
        "x": 230,
        "y": 1420,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "b67df828b3996869",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "127.0.0.1",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "59ff5a9691887fe6",
        "type": "ui_group",
        "name": "Pressure Gauge",
        "tab": "0a049626c4a480b5",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0ef5302f8b9bf1d7",
        "type": "mqtt-broker",
        "name": "",
        "broker": "169.254.103.89",
        "port": "1883",
        "clientid": "Client1",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0a049626c4a480b5",
        "type": "ui_tab",
        "name": "Home",
        "icon": "fa-fire",
        "disabled": false,
        "hidden": false
    }
]